<div>
<form class="signupForm" (submit)="signupUser($event)">
<h2 class="authTitle">Sign Up</h2>
<input class="inputField"  type="text" placeholder="First Name" id="firstname">
<input class="inputField"  type="text" placeholder="Last Name" id="lastname">
<input class="inputField"  type="text" placeholder="Email" id="username">
<input class="inputField"  type="text" placeholder="Display Name" id="displayname">
<input class="inputField"  type="password" placeholder="Password" id="password">
<input class="button"  type="submit" value="submit">
</form>
<br/>
<br/>
<form class="loginForm" (submit)="signinUser($event)">
<h2 class="authTitle">Log In</h2>
<input class="inputField" type="text" placeholder="Username" >
<input class="inputField"  type="password" placeholder="Password" >
<input class="button"  type="submit" value="submit">
</form>
</div>
