mdb-carousel{
    background-color: black;
}
.carousel{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: fadeIn 1.3s;
}
/* #img{
    object-fit: cover;
    height: auto;
} */
mdb-carousel-item{
    cursor: pointer;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}