<div class="carousel">
    <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item>
              <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(112).jpg" [routerLink]="['/detail/3f13a9e6-833f-4f03-8ff2-3d8b7f395a0f']" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(90).jpg" [routerLink]="['/detail/48906d85-1143-40ac-a05d-e1536db466d6']" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(79).jpg" [routerLink]="['/detail/647300b5-5c7e-43b2-bc82-b43a42b92122']" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(116).jpg" [routerLink]="['/detail/61c7fd29-55d7-44e0-89c9-0add5a300cee']" alt="Fourth slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg" [routerLink]="['/detail/895e8121-b965-48ea-a59f-39618219d22c']" alt="Fifth slide">
            </mdb-carousel-item>
          </mdb-carousel>
          </div>



<!-- <div class="carousel">
<mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img [routerLink]="['/detail/883fcbe5-3a3a-4010-b168-ff29d2345b71']" class="d-block w-100" id="img" src="https://i.imgur.com/TkoxCsr.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(69).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
      </div> -->