<div class="carousel">
<mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img [routerLink]="['/detail/883fcbe5-3a3a-4010-b168-ff29d2345b71']" class="d-block w-100" id="img" src="https://i.imgur.com/TkoxCsr.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" id="img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
      </div>