.cardimg{
    width: auto;
    height: 20vw;
    margin-left: 30px;
    margin-right: auto;
    /* margin-left: 165px; */ 
    object-fit: cover;
    border: 4px groove white;
    text-align: center;
    justify-content: center;
    animation: fadeIn 1.3s;
}
.detailTitle{
    font-family: 'Cinzel', serif;
    font-weight: 450;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: white;
    margin-left: 30px;
    margin-right: auto;
    justify-self: center;
    text-decoration: underline;
    animation: fadeInRight 1.3s
}
.commentTitle{
    font-family: 'Cinzel', serif;
    font-weight: 450;
    font-size: 40px;
    text-align: left;
    color: white;
    /* margin: 25px; */
    text-decoration: underline;
    animation: fadeInLeft 1.3s;
}
.column{
    float: left;
    width: 50%;
    /* column-count: 2; */
}
.row:after{
    content: "";
    display: table;
    clear: both;
    /* column-count: 2; */
}
.inputField{
    color: black;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    box-sizing: border-box;
    width: 50%;
    height: 5em;
    padding: 5px;
    display: block;
    text-align: left;
    /* padding: 4px; */
    margin: 25px;
}
p{
    font-family: 'Cinzel', serif;
    font-weight: 350;
    font-size: 18px;
    text-align: left;
    color: white;
    margin-left: 25px;
    animation: fadeInRight 1.3s;
}
.commentButton{
    width: inherit;
    height: inherit;
    margin: 5px;
    padding: 10px;
}
.commentButton:hover{
    transition-duration: 450ms;
    box-shadow: 0px 0px 20px white;
    color: white !important;
    background-color: black;
}
#paragraph{
    width: 75%;
    margin: 5px;
}
p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 450;
}
.comment{
    width: 40%;
      height: 100px;
      padding: 10px;
      background-color: #d0e2bc;
}


/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(10px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-10px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   
