<p>art-detail works!</p>

<h1>Title: {{responseart[0]?.title}} </h1>
<img class="cardimg" mat-card-image src="{{responseart[0]?.img}}" alt="">
<form (submit)="submitComment($event)">
    <input type="text" placeholder="Paragraph" id="paragraph">
    <input type="submit" value="submit">
    </form>
<h1>Comments: {{responseart[0].comments[0].paragraph}}</h1>
{{responseart[0].comments[1].paragraph}}
{{responseart[0].comments[2].paragraph}}
<!-- <div class="imgcards">
    <div *ngFor="let response of responseart">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{title}}</mat-card-title>
              <mat-card-subtitle>{{artist}}</mat-card-subtitle>
            </mat-card-header>
            <img class="cardimg" mat-card-image src="{{response?.img}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>{{response?.price}}</p>
              <p>Genre: Digital Art</p>
              <p>{{response?.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button [routerLink]="['/detail']" mat-button>More Details</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          </div>
        </div> -->