<h1 class="paintingTitle">Paintings</h1>
<br/>
<div fxLayout="row wrap" fxLayout.xs="column wrap" class="imgcards">
    <div fxFlex.gt-xs="50%" [fxFlex.gt-md]="regularDistribution" *ngFor="let responsephotography of responsephotography">
        <mat-card class="example-card">
          <div class="cardInfo">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{responsephotography?.title}}</mat-card-title>
              <mat-card-subtitle>{{responsephotography?.artist}}</mat-card-subtitle>
            </mat-card-header>
            <img class="cardimg" mat-card-image src="{{responsephotography?.img}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <br/>
              <p>Price: ${{responsephotography?.price}}</p>
              <br/>
              <p>Genre: {{responsephotography?.genre}}</p>
              <br/>
              <p>Description: {{responsephotography?.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <br/>
              <button class="button" [routerLink]="['/detail', responsephotography.id]" button>More Details</button>
              <!-- <button class="button" mat-button>SHARE</button> -->
            </mat-card-actions>
          </div>
          </mat-card>
          </div>
        </div>



<!-- <h1 class="paintingTitle">Paintings</h1>
<br/>
<div fxLayout="row wrap" fxLayout.xs="column wrap" class="imgcards">
    <div fxFlex.gt-xs="50%" [fxFlex.gt-md]="regularDistribution" *ngFor="let responsephotography of responsephotography">
        <mat-card class="example-card">
          <div class="cardInfo">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{responsephotography?.title}}</mat-card-title>
              <mat-card-subtitle>{{responsephotography?.artist}}</mat-card-subtitle>
            </mat-card-header>
            <img class="cardimg" mat-card-image src="{{responsephotography?.img}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <br/>
              <p>Price: ${{responsephotography?.price}}</p>
              <br/>
              <p>Genre: Digital Art</p>
              <br/>
              <p>Description: {{responsephotography?.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <br/>
              <button class="button" [routerLink]="['/detail', responsephotography.id]" mat-button>More Details</button>
              <button class="button" mat-button>SHARE</button>
            </mat-card-actions>
          </div>
          </mat-card>
          </div>
        </div> -->