<p>artdisplay works!</p>

<!-- <div *ngFor="let art of art">
  <h2>{{arts.name}}</h2>
</div> -->


<div class="imgcards">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Painter</mat-card-title>
      <mat-card-subtitle>Jenny Brown</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="https://i.imgur.com/8CQpFRL.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Price : $75.00</p>
      <p>Genre: Digital Art</p>
      <p>9"x9" Borderless Glicee Premium Paper Print</p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/detail']" mat-button>More Details</button>
      <button mat-button>Add To Cart</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sail Away</mat-card-title>
      <mat-card-subtitle>Sarah Morrison</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="https://i.imgur.com/IFI4Nvx.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Price: $75.00</p>
      <p>Genre: Digital Art</p>
      <p>8"x10" Borderless Glicee Premium Paper Print </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Facing</mat-card-title>
      <mat-card-subtitle>Sunny Goldstein</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="https://i.imgur.com/26SoP9h.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Price: $100.00</p>
      <p>Genre: Digital Art</p>
      <p>11"x14" Borderless Glicee Premium Paper Print</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cosmos</mat-card-title>
      <mat-card-subtitle>Sean Harrison</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="https://i.imgur.com/y1AwPJK.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Price: $100.00</p>
      <p>Genre: Digital Art</p>
      <p>10"x12" Borderless Glicee Premium Paper Print</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
<div class=imgcards>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
</div>