<div *ngFor="let responsephotography of responsephotography">
    
  <table>
      <th>Title</th>
      <tr>{{ responsephotography?.title }}</tr>

      <th>Artist</th> 
      <tr>{{ responsephotography?.artist }}</tr> 

      <th>Price</th>
      <tr>{{ responsephotography?.price</tr>

      <th>Image Url</th>  
      <tr>{{ responsephotography?.img</tr>
      
      <th>Genre</th>  
      <tr>{{ responsephotography?.genre</tr>

      <th>Description</th>  
      <tr>{{ responsephotography?.description</tr>
  </table>
      

 