
<div>
<table class="adminTable">
  <thead>
  <th>Title</th>
  <th>Artist</th>
  <th>Price</th>
  <th>Image Url</th>
  <th>Genre</th>
  <th>Description</th>
  
</thead>
<tbody>
  <tr *ngFor="let dataSource of dataSource">
  <td>{{ dataSource?.title }}</td>
  <td>{{ dataSource?.artist }}</td>
  <td>{{ dataSource?.price }}</td>
  <td>{{ dataSource?.img }}</td>
  <td>{{ dataSource?.genre }}</td>
  <td>{{ dataSource?.description }} </td>
  <td><button><a routerLink="['/update-art']">Update</a></button></td>
  <td><a (click) = "artDelete(dataSource.id)" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
  
</div>

<div class="form-group">
  <form  [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <input id="title" formControlName="title" type="text" class="form-control" placeholder="Title">
    <input id="artist" formControlName="artist" type="text" class="form-control" placeholder="Arist">
    <input id="price" formControlName="price" type="text" class="form-control" placeholder='Price'>
    <input id="image" formControlName="img" type="text" class="form-control" placeholder="Image Url">
    <input id="genre" formControlName="genre" type="text" class="form-control" placeholder="Genre">
    <input id="description" formControlName="description" type="text" class="form-control" placeholder="Description">
    <button type="submit" [disabled]="!createForm.valid">Submit</button>
  </form>
</div>
  

    
 






