
<a [routerLink]="['/']">
    <h1>Art Department</h1>
  </a>

  <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
  <a class="button fancy-button"><i class="material-icons"></i>SignUp/SignIn</a>
  <a class="button fancy-button"><i class="material-icons"></i>LogOut</a>
  <a class="button fancy-button"><i class="material-icons"></i>Photography</a>
  <a class="button fancy-button"><i class="material-icons"></i>Paintings</a>
  <a class="button fancy-button"><i class="material-icons"></i>Sketches</a>
  <a class="button fancy-button"><i class="material-icons"></i>Digital Art</a>
  