
<a [routerLink]="['/']">
    <h1>Art Department</h1>
  </a>

  <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>
  <a class="button fancy-button"><i class="material-icons"></i>SignUp/SignIn</a>
  <a class="button fancy-button"><i class="material-icons"></i>LogOut</a>
  <a [routerLink]="['/photography']"class="button fancy-button"><i class="material-icons"></i>Photography</a>
  <a [routerLink]="['/painting']"class="button fancy-button"><i class="material-icons"></i>Paintings</a>
  <a [routerLink]="['/drawing']" class="button fancy-button"><i class="material-icons"></i>Sketches</a>
  <a [routerLink]="['/digital']" class="button fancy-button"><i class="material-icons"></i>Digital Art</a>
  <a [routerLink]="['/detail']"class="button fancy-button"><i class="material-icons"></i>Art Details</a>
  <button class= "selectbutton" mat-raised-button (click)="getArtDigital()">Get Photography</button>