<style>
  @import url('https://fonts.googleapis.com/css?family=Baskervville|Cinzel&display=swap');
</style>


<nav class="navbar">
  <a [routerLink]="['/']"><h1>Art Department</h1></a>
  
  <div class="dropdown">
    <button class="dropbtn">Genres
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a [routerLink]="['/digital']" class="button fancy-button" (click)="getArtDigital()"><i class="material-icons"></i>Digital Art</a>
      <a [routerLink]="['/photography']"class="button fancy-button" (click)="getArtPhotography()"><i class="material-icons"></i>Photography</a>
      <a [routerLink]="['/painting']"class="button fancy-button"><i class="material-icons"></i>Paintings</a>
      <a [routerLink]="['/drawing']" class="button fancy-button"><i class="material-icons"></i>Drawings</a>
    </div>
  </div>
  <a [routerLink]="['/signup-in']"class="button fancy-button"><i class="material-icons"></i>SignUp/SignIn</a>
  <a [routerLink]="['/admin']"class="button fancy-button"><i class="material-icons"></i>Admin</a>
  <a [routerLink]="['/detail']"class="button fancy-button"><i class="material-icons"></i>Art Details</a>
  <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a>
  <!-- <a class="button fancy-button"><i class="material-icons"></i>LogOut</a> -->
  <!-- <button class= "selectbutton" mat-raised-button (click)="getArtDigital()">Get Digital</button> -->
  <button class= "selectbutton" mat-raised-button (click)="logout()">Logout</button>

  </nav>

  <!-- <div *ngFor="let responsephotography of responsephotography">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{responsephotography?.title}}</mat-card-title>
          <mat-card-subtitle>{{responsephotography?.artist}}</mat-card-subtitle>
        </mat-card-header>
        <img class="cardimg" mat-card-image src="{{responsephotography?.img}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{responsephotography?.price}}</p>
          <p>Genre: Digital Art</p>
          <p>{{responsephotography?.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/detail']" mat-button>More Details</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->
