<!-- <h6>profile works!</h6> -->

<!-- <app-update-modal></app-update-modal> -->


<!-- <div *ngFor="let responseusercomments of responseusercomments">
        <div>
        <h6>{{responseusercomments?.paragraph}}</h6>
        <a (click)="deleteComments(responseusercomments.id)" class="btn btn-danger btn-sm">Delete</a>
        <form (submit)="updateComment($event, responseusercomments.id)">
                <input type="text" placeholder="Paragraph" id="paragraph">
                <input type="submit" value="submit">
                </form>
</div>
</div> -->
<mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Your Comments
            </mat-panel-title>
            <mat-panel-description>
              Update And Delete Comments
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div *ngFor="let responseusercomments of responseusercomments">
                <div>
                <h6>{{responseusercomments?.paragraph}}</h6>
                <form (submit)="updateComment($event, responseusercomments.id)">
                                
                                <mat-form-field>
                                                <input type="text" matInput placeholder="Update Comment" id="paragraph">
                                              </mat-form-field>
                                              <input type="submit" value="Update">
                                              <a (click)="deleteComments(responseusercomments.id)" class="btn btn-danger btn-sm">Delete</a>
                        <!-- <input type="text" placeholder="Paragraph" id="paragraph">
                        <input type="submit" value="submit"> -->
                        </form>
        </div>
        </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">



        <!-- <h6>{{responseusercomments.paragraph}}</h6>
        <h6>{{responseusercomments[1].paragraph}}</h6>
        <h6>{{responseusercomments.paragraph}}</h6>
        <h6>{{responseusercomments?.comments[4]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[5]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[6]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[7]?.paragraph}}</h6>
        <h6>{{responsecomments?.title}}</h6> -->


        