<p>comments works!</p>

<!-- <button class= "selectbutton" mat-raised-button (click)="getArtComments()">Get Comments</button> -->

<h2>Submit A New Comment</h2>

<form (submit)="submitComment($event)">
        <input type="text" placeholder="Paragraph" id="paragraph">
        <input type="submit" value="submit">
        </form>

        <!-- <form (submit)="postComment()">
                <input type="text" placeholder="Paragraph" id="paragraph">
                <input type="submit" value="submit">
                </form> -->

        <!-- <form (submit)="this.postCommentTest()">
                <input type="text" placeholder="Paragraph" id="paragraph">
                <input type="submit" value="submit">
                </form> -->

<!-- <h2>Submit A New Comment</h2>

<form id ="formNewComment" name="formNewComment" #commentData = "ngForm" (ngSubmit) ="addNewComment(commentData.value)">
        <label>Paragraph: </label><input type="text" name="name" id="name" placeholder="name" ngModel>
        <input type="submit" value = "Add Comment">
</form> -->


<div *ngFor="let responsecomments of responsecomments">
        <div>
        <h6>{{responsecomments?.comments[0].paragraph}}</h6>
        <a (click)="deleteComments(responsecomments.comments[0].id)" class="btn btn-danger btn-sm">Delete</a>
        <form (submit)="updateComment(responsecomments.comments[0].id, $event)">
                        <input type="text" placeholder="Paragraph" id="paragraph">
                        <input type="submit" value="submit">
                        </form>
        </div>
</div>
<!-- </div>
        <div>
        <h6>{{responsecomments?.comments[1]?.paragraph}}</h6>
        <a (click)="deleteComments(responsecomments.comments[1].id)" class="btn btn-danger btn-sm">Delete</a>
</div>  
<div>
        <h6>{{responsecomments?.comments[2]?.paragraph}}</h6>
        <a (click)="deleteComments(responsecomments.comments[2].id)" class="btn btn-danger btn-sm">Delete</a>
</div>
<div>
        <h6>{{responsecomments?.comments[3]?.paragraph}}</h6>
        <a (click)="deleteComments(responsecomments.comments[3].id)" class="btn btn-danger btn-sm">Delete</a>
</div>
        
        </div> -->