<p>comments works!</p>

<button class= "selectbutton" mat-raised-button (click)="getArtComments()">Get Comments</button>


<div *ngFor="let responsecomments of responsecomments">
        <h6>{{responsecomments?.comments[0]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[1]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[2]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[3]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[4]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[5]?.paragraph}}</h6>
        <h6>{{responsecomments?.comments[6]?.paragraph}}</h6>
</div>